[paths]
source =
   src
   */site-packages

[run]
branch = true
source =
    gigue
    tests
parallel = true
omit = 
    *__init__*
    *__main__*

[report]
show_missing = true
precision = 2
omit = *migrations*
