[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-mock = "*"

[dev-packages]
pytest = "*"
capstone = "==5.0.0rc2"
unicorn = "==2.0.1.post1"
mypy = "*"
ruff = "*"
black = "*"

[requires]
python_version = "3.9"
